.search-form {
    margin-bottom: 40px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.card {
    width: calc((100% - 90px) / 3);
    list-style: none;
    margin: 15px;
}

img {
    width: 100%;
}

.load-more-btn {
    position: fixed;
    bottom: 30px;
    left: 50%;
}